/* Footer.css */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .social-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
 
  
  .links {
    display: flex;
    gap: 20px;
    color: var(--gray-900, #111827);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .copyright{
    color: var(--gray-500, #6B7280);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
  }
  